{% extends "base.html" %}

{% block content %}
    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">Mon compte : {{ user.username }}</h1>
                    <p class="lead">App-Asso-Immo</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb -->
    {% include 'partials/menu.html' %}
    <!-- end Breadcrumb -->

    <section id="dashboard" class="py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="h3">Mon Profil</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{{ user.profile.image.url }}" />
                                </div>
                                <div class="col-md-8">
                                    <h3>Présentation </h3>
                                    <p>{{ user.profile.description }}</p>
                                    <hr>
                                    <h6>Dernière connexion le {{ user.last_login|date }}</h6>
                                    <hr>
                                    <h6>Membre depuis le {{ user.profile.created |date }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}