{% extends "base.html" %}

{% block content %}
    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">Message</h1>
                    <p class="lead">App-Asso-Immo</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">
                            <i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="breadcrumb-item active"> Dashboard</li>
                    <li class="breadcrumb-item"><a href="#">Message</a></li>
                    <li class="breadcrumb-item"><a href="#">Favoris</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'profile-update' %}">Modifier mon compte</a></li>
                </ol>
            </nav>
        </div>
    </section>

    {% include 'partials/alerts.html' %}

    <section id="dashboard" class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if listings and user.profile.realtor == True %}
                        <a href="{% url 'listing-create' %}"
                           class="btn btn-secondary text-white btn-lg">
                            Ajouter votre Annonce
                        </a>
                        <h3 class="my-3">Gérer mes Annonces</h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Liste des annonces</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for listing in listings %}
                                <tr>
                                    <td>{{ listing.title }}</td>
                                    <td>
                                        <a class="btn btn-primary" href="{% url 'listing-detail' listing.id %}">Voir</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-warning" href="{% url 'listing-update' listing.id %}">Modifier</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" href="{% url 'listing-delete' listing.id %}">Supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h1>Vous n'avez pas publier une annonce</h1>
                        <a href="{% url 'listing-create' %}"
                           class="btn btn-secondary text-white btn-lg">
                            Ajouter votre Annonce
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}