{% extends "base.html" %}

{% block content %}
    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">Message</h1>
                    <p class="lead">App-Asso-Immo</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb -->
    {% include 'partials/menu.html' %}
    <!-- end Breadcrumb -->

    {% include 'partials/alerts.html' %}

    <section id="dashboard" class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Consulter mes messages</h2>
                    {% if user_contacts %}

                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Liste des messages</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for contact in user_contacts %}
                                <tr>
                                    <td>{{ contact.id }}</td>
                                    <td>{{ contact.listing }}</td>
                                    <td>
                                        <a class="btn btn-light" href="{% url 'listing-detail' contact.listing_id %}">Voir le bien</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h1>Vous n'avez pas de message !</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}